.root {
    -fx-background-radius: 10;
}
.exit_button{
    -fx-max-width: 25;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-min-width: 25;
    -fx-translate-y: 10;
    -fx-translate-x: 463;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-text-fill: rgba(53, 160, 241, 0.7);
    -fx-border-color: rgba(53, 160, 241, 0.7);
    -fx-background-color: rgba(255, 255, 255,0);
}
.exit_button:hover{
    -fx-border-color: rgba(255, 255, 255,0);
    -fx-background-color: rgba(53, 160, 241, 0.7);
    -fx-text-fill: aliceblue;
}

.set_button{
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-translate-y: 250;
    -fx-translate-x: 440;
    -fx-background-color: rgba(255, 255, 255,0);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    -fx-border-color: rgba(255, 255, 255, 0.39);
}
.set_button:hover{
    -fx-background-color: #6a4acd;
}

